{% extends "base.html" %}
{% block content %}
<div class="row" style="padding: 10px 10px;">

    <!--Webstreaming-->
    <div class="col-5">
        <div class="card">
            <h5 class="card-header .txt-center">Camera</h5>
            <div class="card-body">
                <div>
                    {% if is_stream %}
                    <div class="webcam-photo-holder">
                        <img src="{{ url_for('video') }}" alt="">

                    </div>
                    <br><br>

                    <a class="btn btn-block btn-primary" href="{{ url_for('ask')}}">Stop</a>

                    {% else %}
                    <div class="webcam-photo-holder">

                        <img src="{{ user_image }}" alt="User Image">
                    </div>

                    <br><br>
                    <a class="btn btn-block btn-primary" href="{{ url_for('ask')}}">Start</a>
                    <br><br>
                    <a class="btn btn-block btn-primary" href="{{ url_for('find')}}">Reconginze</a>

                    {% endif %}
                </div>

            </div>
        </div>
    </div>

    <!-- OR-->
    <div class="col-2 or">
        <center><h1>OR</h1></center>
    </div>

    <!-- Drag n Drop photo-->
    <div class="col-5">
        <div class="card">
            <h5 class="card-header">Upload photo</h5>
            <div class="card-body">

                <center>
                    <div class="area" id="photo-container">

                        <div id="dropZone">Upload a local photo</div>
                        <img src="" nam style="max-width: 500px;max-height: 350px;" alt="">
                      </div>
    
                </center>



                <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                    </div>
                    <div class="custom-file">
                        <form action="{{ url_for('local_photo')}}" method="POST" enctype="multipart/form-data">
                            <input type="file" class="custom-file-input" name="uploaded_local_photo" id="photo-upload"
                            aria-describedby="inputGroupFileAddon01">
                          <label class="custom-file-label" for="photo-upload">Choose file</label>
                            <button class="btn btn-block btn-primary" type="submit">Reconginze</button>
                        </form>
                    </div>
                  </div>
            </div>
        </div>
    </div>


</div>
<script>

    $(document).ready(function(){
        $("#photo-upload").on('change',function(){
            $("#photo-container > #dropZone").hide();
            var input_file = document.getElementById("photo-upload")   
            if (input_file.files && input_file.files[0]) {
                        var reader = new FileReader();

                        reader.onload = function (e) {
                            $("#photo-container > img")
                                .attr('src', e.target.result)
                                .width(150)
                                .height(200);
                                 };

                    reader.readAsDataURL(input_file.files[0]);
            }   
    
        });
    });    
    </script>
{% endblock %}
