<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
        <center>
            <br><br>
            <h3>Recognizing</h3>
                        <br><br>

            <div style="width: 40%;">

            <div style="width: 200px;height: 200px;" class="border border-black">
                        
                        <img src="{{ test_image }}" alt="User Image">
                    </div>
                <h3>Fruit is {{ result}} </h3>
            <br><br>

                 <a class="btn btn-block btn-primary"  href="{{ url_for('ask')}}">Go Back</a>
            
        </div>
        </center>
</body>
</html>