{% extends "base.html" %}
{% block content %}

<div class="row" style="padding: 10px 10px;">

    <!--Webstreaming-->
    <div class="col-5">
        <div class="card">
            <h5 class="card-header .txt-center">Test Image</h5>
            <div class="card-body">
                <div >
                    <center>
                    <img src="{{ test_image }}" alt="User Image">
                    <h3>Fruit is {{ result}} </h3>
                    </center>
                </div>
                <br><br>

                <a class="btn btn-block btn-primary" href="{{ url_for('ask')}}">Go Back</a>

            </div>
        </div>
    </div>

    <!-- Arrow-->
    <div class="col-2 or">
        <center>
            <i class="fas fa-angle-double-right arrow"></i>

       </center>
    </div>

    <!-- Fruit nutrion information-->
    <div class="col-5">
        <div class="card">
            <h5 class="card-header">Fruit nutrion information</h5>
            <div class="card-body">
                

            </div>
        </div>
    </div>


</div>


{% endblock %}





</body>

</html>